.menu-item .quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menu-item .quantity button {
  background-color: #e31b47;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mu-subtitle{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: #fff;
}

.menu-item .quantity button:hover {
  background-color: #0056b3;
}

.menu-item .quantity span {
  margin: 0 10px;
  font-size: 16px;
}

.menu-item button  {
  background-color: #e64747;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;

  

}

.menu-item button:hover {
  background-color: #0056b3;
}

.menu {
  text-align: center; 
  padding: 50px 0; 
}

/* CSS pour les éléments du menu */
.menu-item {
  margin: 20px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  background-color: #fff; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  opacity: 0.8;
  transition: transform 0.3s; 
}

.menu-item:hover {
  transform: translateY(-5px); 
}

/* CSS pour le conteneur du menu */
.menu-container {
  background-image: url("/public/images/home/slider/menu.jpeg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  padding: 50px 0; 
}


.menu-item {
  position: relative; 
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/images/home/slider/epuise.png"); 
  background-size: cover;
  opacity: 0.3; 
}

/* menu-component.css */
.view-cart-button {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(244, 92, 92);
  padding: 10px 0;
}

.view-button{
  color: #fff;
  text-decoration: none;
}

